
.imageparent{
    position: relative;
}
.absoluteshiva{
    position:absolute;
    bottom:0;
    left:0;
    color: aqua;
}
.absoluteshiva{
    position: absolute;
    top:0;
    left:0;
}
.absolutedestyroyer{
    position:absolute;
    top:0;
    right:0;
    color: aqua;

}