.static{
    position:static;
    bottom: 0;
}
.fixed{
    position: fixed;
    top:0;
}
.relative{
    position: relative;
    top: 0;
}
.absolute{
    position: absolute;
    top: 0;
    right: 0;
}
.absoluteshivu{
    position: absolute;
    bottom: 0;
    left: 0;
    color: aqua;
}
.imageparent{
    position:relative;
}